In [15]:
# range of the array
import numpy as np
ar1=np.arange(13)
ar1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [4]:
#  length of the array
ar1
len(ar1)

13

In [7]:
# convert into multidimentional array
reshape_array=ar1.reshape(13,1)

In [8]:
reshape_array

array([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12]])

In [9]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [10]:
np.eye(3,4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.]])

In [11]:
# Identity matrix can be created using using 2 functions 
# eye()-->used to define both user defined rows and columns
# identity()-->used to define same number of rows and columns 

# syntax-->np.identity(5n-->5 is 5 row and 5 columns 
# Syntax-->np.eye(3,4p-->3 rows and 4 columns
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [14]:
# to convert the array into complex form
np.identity(5,dtype=complex)

array([[1.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 1.+0.j, 0.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 1.+0.j, 0.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 0.+0.j, 1.+0.j, 0.+0.j],
       [0.+0.j, 0.+0.j, 0.+0.j, 0.+0.j, 1.+0.j]])

In [16]:
# shape of the array 
ar2=np.arange(25)

In [18]:
ar2.shape

(25,)

In [19]:
# to perform multidimentional slicing
ar2=np.arange(25).reshape(5,5)

In [20]:
ar2

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [21]:
# consider shape as property
ar2.shape

(5, 5)

In [22]:
# ar2[rows,columns,step]
# ar2[row_start:row_end,column_start:column_end,step]

ar2[0:3]

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [23]:
ar2

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [25]:
# sub array of current array

ar2[1:3,1:3]

array([[ 6,  7],
       [11, 12]])

In [30]:
# negative index values

ar2[-3:-1]

array([[10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [31]:
ar2[-3:-1,-3:-1]

array([[12, 13],
       [17, 18]])

In [33]:
ar3=np.arange(50).reshape(5,10)
# Tasks
# both positive and negative
# 1.)To print 27,28,37,38
# 2.)print 34,35,44,45
# 3.)print 18,19
# 4.)print 30,31,40,41

ar3

ar3

In [43]:
ar3[2:9]

array([[20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [38]:
# lincise

# to add base on column wise axis=0

np.sum(ar3,axis=0)

array([100, 105, 110, 115, 120, 125, 130, 135, 140, 145])

In [40]:
# to add base on row wise axis=1

np.sum(ar3,axis=1)

array([ 45, 145, 245, 345, 445])

In [41]:
# to add base on column wise axis=0

np.sum(ar3,axis=0)

array([100, 105, 110, 115, 120, 125, 130, 135, 140, 145])

In [42]:
# to find the sum of array

np.sum(ar3)

1225

In [46]:
ar3[2:4,6:8]

array([[26, 27],
       [36, 37]])

In [47]:
# mean-->average
# median-->centre value
# mode-->max num of repeated element
# variance-->median/toal num of elements
# std-->square root of variance

In [48]:
# linspace():It is used to print evenly separated points
# between 2 range of values
# Syntax-->linspace(start,end,num of values)
np.linspace(1,5)

array([1.        , 1.08163265, 1.16326531, 1.24489796, 1.32653061,
       1.40816327, 1.48979592, 1.57142857, 1.65306122, 1.73469388,
       1.81632653, 1.89795918, 1.97959184, 2.06122449, 2.14285714,
       2.2244898 , 2.30612245, 2.3877551 , 2.46938776, 2.55102041,
       2.63265306, 2.71428571, 2.79591837, 2.87755102, 2.95918367,
       3.04081633, 3.12244898, 3.20408163, 3.28571429, 3.36734694,
       3.44897959, 3.53061224, 3.6122449 , 3.69387755, 3.7755102 ,
       3.85714286, 3.93877551, 4.02040816, 4.10204082, 4.18367347,
       4.26530612, 4.34693878, 4.42857143, 4.51020408, 4.59183673,
       4.67346939, 4.75510204, 4.83673469, 4.91836735, 5.        ])

In [49]:
np.linspace(1,5,5)

array([1., 2., 3., 4., 5.])

In [50]:
np.linspace(1,10,5)

array([ 1.  ,  3.25,  5.5 ,  7.75, 10.  ])

In [51]:
np.linspace(1,10,4)

array([ 1.,  4.,  7., 10.])

In [84]:
ar3[-3:-1,-3:-1]

array([[27, 28],
       [37, 38]])

In [59]:
ar3[3:5,4:6]

array([[34, 35],
       [44, 45]])

In [60]:
np.linspace(12,30,12,retstep=True)

(array([12.        , 13.63636364, 15.27272727, 16.90909091, 18.54545455,
        20.18181818, 21.81818182, 23.45454545, 25.09090909, 26.72727273,
        28.36363636, 30.        ]),
 1.6363636363636365)

In [61]:
# random module
# To generate random number between the range

# np.random.randint(start,end)
# np.random.randint(40)
# or

np.random.randint(20,30)

28

In [96]:
ar3[1:2,8:10]

array([[18, 19]])

In [92]:
np.random.rand(4)

array([0.29067649, 0.59646169, 0.98320442, 0.76297322])

In [90]:
# rand()-->
# To get the randomly generated value from 0 to 1,based on
# uniform distribution

np.random.rand(3,4)

array([[0.14507615, 0.57024945, 0.21691294, 0.59908373],
       [0.00293746, 0.93094232, 0.51524106, 0.77133751],
       [0.83077271, 0.29722879, 0.23671271, 0.39492794]])

In [97]:
ar3[-4:-2]

array([[10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]])

In [100]:
# homework
ar3=np.arange(50).reshape(5,10)

In [101]:
ar3

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [105]:
ar3[-4:-3,-3:-1]

array([[17, 18]])

In [107]:
ar3[3:5,0:2]

array([[30, 31],
       [40, 41]])

In [108]:
ar3[2:4,7:9]

array([[27, 28],
       [37, 38]])

In [109]:
ar3[-3:-1,-3:-1]

array([[27, 28],
       [37, 38]])

In [110]:
ar3[3:5,4:6]

array([[34, 35],
       [44, 45]])

In [111]:
ar3[1:2,8:10]

array([[18, 19]])

In [112]:
np.random.randn(5,4)

array([[ 1.31313033,  0.53799856,  0.79861222,  1.58537003],
       [ 0.15781277, -2.67083945,  2.012096  ,  0.32525717],
       [-0.31990461, -2.18743646,  1.49916155, -0.70142757],
       [ 0.57320243,  0.74836596, -1.10272819, -1.19401639],
       [ 0.61826215, -0.84117602,  0.01279123, -1.78521781]])

In [114]:
ar3.min()

0

In [115]:
ar3.max()

49

In [117]:
# To find the index of min values

l1=[56,89,90,67,45]
print(l1.index(67))

3

In [120]:
print(ar3.tolist())

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12, 13, 14, 15, 16, 17, 18, 19], [20, 21, 22, 23, 24, 25, 26, 27, 28, 29], [30, 31, 32, 33, 34, 35, 36, 37, 38, 39], [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]]

In [123]:
# type of array
type(ar3)

numpy.ndarray

In [124]:
print(ar3.argmin())

0

In [125]:
l1=[56,89,90,67,45]
np1=np.array(l1)

In [126]:
# argmax-->to find the min values index position in an array

print(np1.argmin())

4

In [127]:
# argmin-->to find the max values index position in an array

print(np1.argmax())

2

In [128]:
np.sin(np1)

array([-0.521551  ,  0.86006941,  0.89399666, -0.85551998,  0.85090352])

In [129]:
np.cos(np1)

array([ 0.85322011,  0.51017704, -0.44807362, -0.5177698 ,  0.52532199])

In [130]:
np.tan(np1)

array([-0.61127369,  1.68582537, -1.99520041,  1.65231726,  1.61977519])

In [131]:
np.cos(np1)/np.sin(np1)

array([-1.63592842,  0.59318125, -0.50120278,  0.60521065,  0.61736962])

In [132]:
1/np.sin(np1)

array([-1.91735803,  1.16269686,  1.11857241, -1.16887977,  1.17522136])

In [136]:
# task:1->write python code for the below logic
np2=np.array([1,2,3])
np3=np.array([4,5,6])
# (1*4)+(2*5)+(3*6)=4+10+18=->32
sum=(np2[0]*np3[0])+(np2[1]*np3[1])+(np2[2]*np3[2])

In [134]:
print(sum)

4

In [137]:
print(sum)

32

In [138]:
np2=np.array([1,2,3,9])
np3=np.array([4,5,6])
sum=(np2[0]*np3[0])+(np2[1]*np3[1])+(np2[2]*np3[2])+(np2[3]*1)
print(sum)

41

In [140]:
np2=np.array([1,2,3])
np3=np.array([4,5,6])
sum=np2*np3
print(sum.sum())

32

In [141]:
fname=np.array(["sid","fn1","fn2"])
lname=np.array(['T',"ln1","ln2"])
# fname.tostring()

In [148]:
# task1:-->write python code to add below 2 array

np2=np.array([1,2,3,8,3,5,9])
np3=np.array([4,5,6])

len1=len(np2)
len2=len(np3)

diff=abs(len1-len2)
for val in range(diff):
    np3=np.append(np3,1)
    
np.sum((np2*np3))

57

In [151]:
np1=np.array([1,34,56,78,np.nan,np.nan])

In [152]:
np1

array([ 1., 34., 56., 78., nan, nan])

In [153]:
#To print nan values
np1[np.isnan(np1)]

array([nan, nan])

In [154]:
# To eliminate nan values
np1[~np.isnan(np1)]

array([ 1., 34., 56., 78.])

In [155]:
np2=np.array([1,2,3])
np3=np.array([4,5,6])

np.dot(np2,np3)

32

In [156]:
pip list panda

Package                       Version
----------------------------- ---------------
aiobotocore                   2.5.0
aiofiles                      22.1.0
aiohttp                       3.8.5
aioitertools                  0.7.1
aiosignal                     1.2.0
aiosqlite                     0.18.0
alabaster                     0.7.12
anaconda-anon-usage           0.4.2
anaconda-catalogs             0.2.0
anaconda-client               1.12.1
anaconda-cloud-auth           0.1.3
anaconda-navigator            2.5.0
anaconda-project              0.11.1
anyio                         3.5.0
appdirs                       1.4.4
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
arrow                         1.2.3
astroid                       2.14.2
astropy                       5.1
asttokens                     2.0.5
async-timeout                 4.0.2
atomicwrites                  1.4.0
attrs                         22.1.0
Automat                       20.2.0
autopep8                      1.6.0
Babel                         2.11.0
backcall                      0.2.0
backports.functools-lru-cache 1.6.4
backports.tempfile            1.0
backports.weakref             1.0.post1
bcrypt                        3.2.0
beautifulsoup4                4.12.2
binaryornot                   0.4.4
black                         0.0
bleach                        4.1.0
bokeh                         3.2.1
boltons                       23.0.0
botocore                      1.29.76
Bottleneck                    1.3.5
brotlipy                      0.7.0
certifi                       2023.7.22
cffi                          1.15.1
chardet                       4.0.0
charset-normalizer            2.0.4
click                         8.0.4
cloudpickle                   2.2.1
clyent                        1.2.2
colorama                      0.4.6
colorcet                      3.0.1
comm                          0.1.2
conda                         23.7.4
conda-build                   3.26.1
conda-content-trust           0.2.0
conda_index                   0.3.0
conda-libmamba-solver         23.7.0
conda-pack                    0.6.0
conda-package-handling        2.2.0
conda_package_streaming       0.9.0
conda-repo-cli                1.0.75
conda-token                   0.4.0
conda-verify                  3.4.2
constantly                    15.1.0
contourpy                     1.0.5
cookiecutter                  1.7.3
cryptography                  41.0.3
cssselect                     1.1.0
cycler                        0.11.0
cytoolz                       0.12.0
daal4py                       2023.1.1
dask                          2023.6.0
datasets                      2.12.0
datashader                    0.15.2
datashape                     0.5.4
debugpy                       1.6.7
decorator                     5.1.1
defusedxml                    0.7.1
diff-match-patch              20200713
dill                          0.3.6
distributed                   2023.6.0
docstring-to-markdown         0.11
docutils                      0.18.1
entrypoints                   0.4
et-xmlfile                    1.1.0
executing                     0.8.3
fastjsonschema                2.16.2
filelock                      3.9.0
flake8                        6.0.0
Flask                         2.2.2
fonttools                     4.25.0
frozenlist                    1.3.3
fsspec                        2023.4.0
future                        0.18.3
gensim                        4.3.0
glob2                         0.7
greenlet                      2.0.1
h5py                          3.9.0
HeapDict                      1.0.1
holoviews                     1.17.1
huggingface-hub               0.15.1
hvplot                        0.8.4
hyperlink                     21.0.0
idna                          3.4
imagecodecs                   2023.1.23
imageio                       2.26.0
imagesize                     1.4.1
imbalanced-learn              0.10.1
importlib-metadata            6.0.0
incremental                   21.3.0
inflection                    0.5.1
iniconfig                     1.1.1
intake                        0.6.8
intervaltree                  3.1.0
ipykernel                     6.25.0
ipython                       8.15.0
ipython-genutils              0.2.0
ipywidgets                    8.0.4
isort                         5.9.3
itemadapter                   0.3.0
itemloaders                   1.0.4
itsdangerous                  2.0.1
jaraco.classes                3.2.1
jedi                          0.18.1
jellyfish                     1.0.1
Jinja2                        3.1.2
jinja2-time                   0.2.0
jmespath                      0.10.0
joblib                        1.2.0
json5                         0.9.6
jsonpatch                     1.32
jsonpointer                   2.1
jsonschema                    4.17.3
jupyter                       1.0.0
jupyter_client                7.4.9
jupyter-console               6.6.3
jupyter_core                  5.3.0
jupyter-events                0.6.3
jupyter-server                1.23.4
jupyter_server_fileid         0.9.0
jupyter_server_ydoc           0.8.0
jupyter-ydoc                  0.2.4
jupyterlab                    3.6.3
jupyterlab-pygments           0.1.2
jupyterlab_server             2.22.0
jupyterlab-widgets            3.0.5
kaleido                       0.2.1
keyring                       23.13.1
kiwisolver                    1.4.4
lazy_loader                   0.2
lazy-object-proxy             1.6.0
libarchive-c                  2.9
libmambapy                    1.5.1
linkify-it-py                 2.0.0
llvmlite                      0.40.0
lmdb                          1.4.1
locket                        1.0.0
lxml                          4.9.3
lz4                           4.3.2
Markdown                      3.4.1
markdown-it-py                2.2.0
MarkupSafe                    2.1.1
matplotlib                    3.7.2
matplotlib-inline             0.1.6
mccabe                        0.7.0
mdit-py-plugins               0.3.0
mdurl                         0.1.0
menuinst                      1.4.19
mistune                       0.8.4
mkl-fft                       1.3.8
mkl-random                    1.2.4
mkl-service                   2.4.0
more-itertools                8.12.0
mpmath                        1.3.0
msgpack                       1.0.3
multidict                     6.0.2
multipledispatch              0.6.0
multiprocess                  0.70.14
munkres                       1.1.4
mypy-extensions               1.0.0
navigator-updater             0.4.0
nbclassic                     0.5.5
nbclient                      0.5.13
nbconvert                     6.5.4
nbformat                      5.9.2
nest-asyncio                  1.5.6
networkx                      3.1
nltk                          3.8.1
notebook                      6.5.4
notebook_shim                 0.2.2
numba                         0.57.1
numexpr                       2.8.4
numpy                         1.24.3
numpydoc                      1.5.0
openpyxl                      3.0.10
packaging                     23.1
pandas                        2.0.3
pandocfilters                 1.5.0
panel                         1.2.3
param                         1.13.0
paramiko                      2.8.1
parsel                        1.6.0
parso                         0.8.3
partd                         1.4.0
pathlib                       1.0.1
pathspec                      0.10.3
patsy                         0.5.3
pep8                          1.7.1
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        9.4.0
pip                           23.2.1
pkce                          1.0.3
pkginfo                       1.9.6
platformdirs                  3.10.0
plotly                        5.9.0
pluggy                        1.0.0
ply                           3.11
poyo                          0.5.0
prometheus-client             0.14.1
prompt-toolkit                3.0.36
Protego                       0.1.16
psutil                        5.9.0
ptyprocess                    0.7.0
pure-eval                     0.2.2
py-cpuinfo                    8.0.0
pyarrow                       11.0.0
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycodestyle                   2.10.0
pycosat                       0.6.4
pycparser                     2.21
pyct                          0.5.0
pycurl                        7.45.2
pydantic                      1.10.8
PyDispatcher                  2.0.5
pydocstyle                    6.3.0
pyerfa                        2.0.0
pyflakes                      3.0.1
Pygments                      2.15.1
PyJWT                         2.4.0
pylint                        2.16.2
pylint-venv                   2.3.0
pyls-spyder                   0.4.0
PyNaCl                        1.5.0
pyodbc                        4.0.34
pyOpenSSL                     23.2.0
pyparsing                     3.0.9
PyQt5                         5.15.7
PyQt5-sip                     12.11.0
PyQtWebEngine                 5.15.4
pyrsistent                    0.18.0
PySocks                       1.7.1
pytest                        7.4.0
python-dateutil               2.8.2
python-dotenv                 0.21.0
python-json-logger            2.0.7
python-lsp-black              1.2.1
python-lsp-jsonrpc            1.0.0
python-lsp-server             1.7.2
python-slugify                5.0.2
python-snappy                 0.6.1
pytoolconfig                  1.2.5
pytz                          2023.3.post1
pyviz-comms                   2.3.0
PyWavelets                    1.4.1
pywin32                       305.1
pywin32-ctypes                0.2.0
pywinpty                      2.0.10
PyYAML                        6.0
pyzmq                         23.2.0
QDarkStyle                    3.0.2
qstylizer                     0.2.2
QtAwesome                     1.2.2
qtconsole                     5.4.2
QtPy                          2.2.0
queuelib                      1.5.0
regex                         2022.7.9
requests                      2.31.0
requests-file                 1.5.1
requests-toolbelt             1.0.0
responses                     0.13.3
rfc3339-validator             0.1.4
rfc3986-validator             0.1.1
rope                          1.7.0
Rtree                         1.0.1
ruamel.yaml                   0.17.21
ruamel-yaml-conda             0.17.21
s3fs                          2023.4.0
safetensors                   0.3.2
scikit-image                  0.20.0
scikit-learn                  1.3.0
scikit-learn-intelex          20230426.121932
scipy                         1.11.1
Scrapy                        2.8.0
seaborn                       0.12.2
Send2Trash                    1.8.0
service-identity              18.1.0
setuptools                    68.0.0
sip                           6.6.2
six                           1.16.0
smart-open                    5.2.1
sniffio                       1.2.0
snowballstemmer               2.2.0
sortedcontainers              2.4.0
soupsieve                     2.4
Sphinx                        5.0.2
sphinxcontrib-applehelp       1.0.2
sphinxcontrib-devhelp         1.0.2
sphinxcontrib-htmlhelp        2.0.0
sphinxcontrib-jsmath          1.0.1
sphinxcontrib-qthelp          1.0.3
sphinxcontrib-serializinghtml 1.1.5
spyder                        5.4.3
spyder-kernels                2.4.4
SQLAlchemy                    1.4.39
stack-data                    0.2.0
statsmodels                   0.14.0
sympy                         1.11.1
tables                        3.8.0
tabulate                      0.8.10
TBB                           0.2
tblib                         1.7.0
tenacity                      8.2.2
terminado                     0.17.1
text-unidecode                1.3
textdistance                  4.2.1
threadpoolctl                 2.2.0
three-merge                   0.1.1
tifffile                      2023.4.12
tinycss2                      1.2.1
tldextract                    3.2.0
tokenizers                    0.13.2
toml                          0.10.2
tomlkit                       0.11.1
toolz                         0.12.0
tornado                       6.3.2
tqdm                          4.65.0
traitlets                     5.7.1
transformers                  4.32.1
Twisted                       22.10.0
twisted-iocpsupport           1.0.2
typing_extensions             4.7.1
tzdata                        2023.3
uc-micro-py                   1.0.1
ujson                         5.4.0
Unidecode                     1.2.0
urllib3                       1.26.16
w3lib                         1.21.0
watchdog                      2.1.6
wcwidth                       0.2.5
webencodings                  0.5.1
websocket-client              0.58.0
Werkzeug                      2.2.3
whatthepatch                  1.0.2
wheel                         0.38.4
widgetsnbextension            4.0.5
win-inet-pton                 1.1.0
wrapt                         1.14.1
xarray                        2023.6.0
xlwings                       0.29.1
xxhash                        2.0.2
xyzservices                   2022.9.0
y-py                          0.5.9
yapf                          0.31.0
yarl                          1.8.1
ypy-websocket                 0.8.2
zict                          2.2.0
zipp                          3.11.0
zope.interface                5.4.0
zstandard                     0.19.0
Note: you may need to restart the kernel to use updated packages.

In [157]:
# Pandas

import pandas as pd
# Pandas is defined as an open-source library that provides
# high=performance data mnipulates in python
# data analysis requires lot of processing such as restructuring,cleaning,merging,manipulating,etc.....We prefer Pandas to perform above functionalities because it is fast , simple,than other tools.
# Pandas is built on Numpy ,Numpy is required for operating pandas

In [158]:
# Pandas Series:
# It is an data structure with one dimensional labelled array 
# It is a primary building block of DataFrame,making its rows and columns

In [160]:
labels=['a','b','c']
my_data=[10,20,30]

arr=np.array(my_data)
d={'a':100,"b":200,"c":300}

In [161]:
# Syntax-->pandas.Series(data=None , index=None , dtype=None , name=None , copy=True or False)

# Eg:1
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [162]:
type(pd.Series(my_data))

pandas.core.series.Series

In [163]:
# series with labels

pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [164]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [166]:
pd.Series(data=[print,len,sum])

0    <built-in function print>
1      <built-in function len>
2                  [4, 10, 18]
dtype: object

In [167]:
pd.Series(data=[print(),len,sum])

0                       None
1    <built-in function len>
2                [4, 10, 18]
dtype: object

In [169]:
class profile:
    @property
    def display(self):
        print("My name is sid")
p=profile()
p.display

My name is sid

In [170]:
def greet():
    return "good morning"
print(greet())

good morning

In [175]:
def decor(func):
    def inner():
        str1=func()
        return str1.upper()
    return inner()

def greet():
    return "good morning"
print(decor(greet))

GOOD MORNING

In [177]:
def decor(func):
    def inner():
        str1=func()
        return str1.upper()
    return inner
@decor
def greet():
    return "good morning"
print(greet())

GOOD MORNING

In [182]:
ser1=pd.Series([1,2,3,4,5],['USA',"India","Canada","UK","Egypt"])
ser1

USA       1
India     2
Canada    3
UK        4
Egypt     5
dtype: int64

In [183]:
ser1['USA']

1

In [184]:
# access values using index

ser1[0]

1

In [185]:
ser1[0:3]

USA       1
India     2
Canada    3
dtype: int64

In [187]:
ser2=pd.Series([5,6,7,8],['USA','Brazil','Canada','UK'])
ser1+ser2

Brazil     NaN
Canada    10.0
Egypt      NaN
India      NaN
UK        12.0
USA        6.0
dtype: float64

In [188]:
ser2['china']="duplicate"

In [189]:
ser2

USA               5
Brazil            6
Canada            7
UK                8
china     duplicate
dtype: object

In [190]:
ser2.drop('USA')

Brazil            6
Canada            7
UK                8
china     duplicate
dtype: object

In [191]:
# DataFrame
# pd.DataFrame(datas,row_label,col_label)

In [193]:
df=pd.DataFrame(np.random.randn(5,4))

In [194]:
df

          0         1         2         3
0 -0.391169  0.197341 -0.916195 -1.510233
1  0.289948 -0.713466  1.634853  0.079716
2  0.062668  0.287802  0.503256  0.313177
3  0.300040 -2.540550  0.512246 -0.302327
4 -0.264517 -0.852353 -0.038829 -0.587309

In [208]:
df=pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['w','x','y','z'])

In [209]:
df

          w         x         y         z
A -0.294224  0.625662  0.591532 -0.972120
B -1.132146 -0.139956 -0.092848 -0.220046
C -0.149995 -1.398946 -1.710546 -0.040765
D  1.447236  0.481214 -0.787098 -0.779016
E -0.794755 -0.232543 -0.153100 -0.629364

In [197]:
# To convert dictionary to DataFrame

d={"col1":[1,2],"col2":[3,4],"col3":[5,6]}

In [198]:
d

{'col1': [1, 2], 'col2': [3, 4], 'col3': [5, 6]}

In [199]:
df=pd.DataFrame(data=d)

In [200]:
df

   col1  col2  col3
0     1     3     5
1     2     4     6

In [201]:
df=pd.DataFrame(d,["row1","row2"])

In [203]:
df

      col1  col2  col3
row1     1     3     5
row2     2     4     6

In [206]:
df.index

Index(['row1', 'row2'], dtype='object')

In [210]:
df

          w         x         y         z
A -0.294224  0.625662  0.591532 -0.972120
B -1.132146 -0.139956 -0.092848 -0.220046
C -0.149995 -1.398946 -1.710546 -0.040765
D  1.447236  0.481214 -0.787098 -0.779016
E -0.794755 -0.232543 -0.153100 -0.629364

In [211]:
df.T

          A         B         C         D         E
w -0.294224 -1.132146 -0.149995  1.447236 -0.794755
x  0.625662 -0.139956 -1.398946  0.481214 -0.232543
y  0.591532 -0.092848 -1.710546 -0.787098 -0.153100
z -0.972120 -0.220046 -0.040765 -0.779016 -0.629364

In [212]:
# get all the rows

df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [214]:
# get all the columns

df.columns

Index(['w', 'x', 'y', 'z'], dtype='object')

In [215]:
type(df)

pandas.core.frame.DataFrame

In [216]:
df.dtypes

w    float64
x    float64
y    float64
z    float64
dtype: object

In [217]:
# df.info():To get the information about DataFrame

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   w       5 non-null      float64
 1   x       5 non-null      float64
 2   y       5 non-null      float64
 3   z       5 non-null      float64
dtypes: float64(4)
memory usage: 372.0+ bytes

In [218]:
df.values

array([[-0.29422403,  0.62566177,  0.59153219, -0.97212012],
       [-1.13214613, -0.13995631, -0.09284765, -0.2200459 ],
       [-0.1499949 , -1.39894615, -1.71054628, -0.04076462],
       [ 1.44723649,  0.48121396, -0.78709756, -0.77901646],
       [-0.79475512, -0.23254321, -0.15310033, -0.62936384]])

In [219]:
df.axes

[Index(['A', 'B', 'C', 'D', 'E'], dtype='object'),
 Index(['w', 'x', 'y', 'z'], dtype='object')]

In [220]:
df.ndim

2

In [221]:
df.size

20

In [222]:
# To access specific column in df

df

          w         x         y         z
A -0.294224  0.625662  0.591532 -0.972120
B -1.132146 -0.139956 -0.092848 -0.220046
C -0.149995 -1.398946 -1.710546 -0.040765
D  1.447236  0.481214 -0.787098 -0.779016
E -0.794755 -0.232543 -0.153100 -0.629364

In [223]:
df['w']

A   -0.294224
B   -1.132146
C   -0.149995
D    1.447236
E   -0.794755
Name: w, dtype: float64

In [224]:
type(df['w'])

pandas.core.series.Series

In [225]:
# To access multiple columns 

df[['w','x','y']]

          w         x         y
A -0.294224  0.625662  0.591532
B -1.132146 -0.139956 -0.092848
C -0.149995 -1.398946 -1.710546
D  1.447236  0.481214 -0.787098
E -0.794755 -0.232543 -0.153100

In [226]:
# To create new column 

df['new']=df['w']+df['y']

In [227]:
df

          w         x         y         z       new
A -0.294224  0.625662  0.591532 -0.972120  0.297308
B -1.132146 -0.139956 -0.092848 -0.220046 -1.224994
C -0.149995 -1.398946 -1.710546 -0.040765 -1.860541
D  1.447236  0.481214 -0.787098 -0.779016  0.660139
E -0.794755 -0.232543 -0.153100 -0.629364 -0.947855

In [229]:
df.drop('new',axis=1)

          w         x         y         z
A -0.294224  0.625662  0.591532 -0.972120
B -1.132146 -0.139956 -0.092848 -0.220046
C -0.149995 -1.398946 -1.710546 -0.040765
D  1.447236  0.481214 -0.787098 -0.779016
E -0.794755 -0.232543 -0.153100 -0.629364

In [230]:
df

          w         x         y         z       new
A -0.294224  0.625662  0.591532 -0.972120  0.297308
B -1.132146 -0.139956 -0.092848 -0.220046 -1.224994
C -0.149995 -1.398946 -1.710546 -0.040765 -1.860541
D  1.447236  0.481214 -0.787098 -0.779016  0.660139
E -0.794755 -0.232543 -0.153100 -0.629364 -0.947855

In [231]:
df.drop('new',axis=1,inplace=True)

In [232]:
df

          w         x         y         z
A -0.294224  0.625662  0.591532 -0.972120
B -1.132146 -0.139956 -0.092848 -0.220046
C -0.149995 -1.398946 -1.710546 -0.040765
D  1.447236  0.481214 -0.787098 -0.779016
E -0.794755 -0.232543 -0.153100 -0.629364